.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    position: relative;
    background-color: #f9f9f9;
  }
  
  .about .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .about-title {
    font-family: "Nunito", sans-serif;
    font-size: 2.2rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
  }
  
  .about-title::after {
    content: '';
    width: 3%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
  }
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .about-image {
    flex: 1;
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
    border: 5px solid #714d5a;
    margin-bottom: 2rem;
  }
  
  .about-text {
    font-size: 1.3rem;
    flex: 2;
    margin-bottom: 2.5rem; /* More space between text and button */
  }
  
  .resume-button {
    display: inline-block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Styles for larger screens */
  @media (min-width: 768px) {
    .about-content {
      flex-direction: row; 
      text-align: left;
    }
    .about-image {
      display: block;
      max-width: 250px;
      margin-right: 5rem;
    }
    .about-text {
      margin-top: 0;
      text-align: justify;
    }
    .resume-button {
      margin-top: 2rem;
    }
  }
  
  /* Styles for smaller screens */
  @media (max-width: 767px) {
    .about-image {
      display: none;
    }
    .about-text {
      text-align: justify;
    }
    .resume-button {
      margin-top: 2rem;
    }
  }
  