.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0; /* Increase padding for larger section */
    position: relative;
    background-color: #f9f9f9; /* Background color for the section */
  }
  
  .about .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .about-title {
    font-family: "Nunito", sans-serif;
    font-size: 2.2rem;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
  }
  
  .about-title::after {
    content: '';
    width: 5%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
  }
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack items vertically */
  }
  
  .about-image {
    flex: 1;
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
    border: 5px solid #714d5a;
    margin-bottom: 5rem; /* Space between image and text */
  }
  
  .about-text {
    font-size: 1.3rem;
    flex: 2;
    margin-bottom: 2.5rem; /* More space between text and button */
  }
  
  .resume-button {
    display: inline-block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem; /* Smaller font size */
  }
  
  /* Styles for larger screens */
  @media (min-width: 768px) {
    .about-content {
      flex-direction: row; /* Arrange items side by side */
      text-align: left; /* Align text to the left */
    }
    .about-image {
      display: block;
      max-width: 250px;
      margin-right: 5.8rem; /* More space between image and text */
      margin-bottom: 0; /* Remove bottom margin */
    }
    .about-text {
      margin-top: 2rem;
      margin-bottom: 3.8rem; /* More space below the text */
      text-align: justify;
    }
    .resume-button {
      margin-top: 2rem; /* Space between text and button */
    }
  }
  
  /* Styles for smaller screens */
  @media (max-width: 767px) {
    .about-image {
      display: none; /* Hide image on smaller devices */
    }
  
    .about-text {
      margin-top: 2rem;
      margin-bottom: 3.8rem; /* More space below the text */
      text-align: justify;
    }
  
    .resume-button {
      margin-top: 2rem; /* Space between text and button */
    }
  }
  