/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Custom Styles */
  .container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  