footer {
    background: #252934;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  footer ul li {
    margin: 0 1rem;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  